<table>
  <tr>
    <% progress.each_key do |day| %>
      <th><%= day.strftime("%A")[0..2] %></th>
    <% end %>
  </tr>
  <% activities.each do |a| %>
    <tr>
      <% progress.values.each do |status| %>
        <td>
          <%= render :partial => "icon",
                     :locals => {
                                  :a => a,
                                  :done => status[:done].include?(a)
                                }
          %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>