<table>
  <tr>
    <% completions.each_key do |day| %>
      <th><%= day.strftime("%A")[0..2] %></th>
    <% end %>
  </tr>
  <% activities.each do |a| %>
    <tr>
      <% completions.values.each do |comp| %>
        <td>
          <%= render :partial => "icon", :locals => { :a => a,
                                                      :done => comp[a] } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>