<table>
    <% activities.each do |a| %>
      <th><%= a.label %></th>
    <% end %>
    <tr>
      <% activities.each do |a| %>
        <td>
          <%= render :partial => "icon", :locals => { :a => a,
                                                      :done => completions[a],
                                                      :icon_style => "icon-big" } %>
        </td>
      <% end %>
    </tr>
</table>