<div>
  <% done ? (opacity_val = 1) : (opacity_val = 0.2) %>
  <%= image_tag(a.filename,
                :class => "icon-big",
                :id => "a_icon_#{a.id}",
                :style => "opacity:#{opacity_val};") %>              
</div>