<!--<%= link_to tag("div", :id => a.icon.id, :class => "icon"), user_activity_path(:user_id => user.id, :id => a.id) %>-->
<div class="icon"><%= link_to image_tag(a.filename), user_activity_path(:user_id => user.id, :id => a.id ) %></div>