<h1>Users#show</h1>

<div>
  <%= render :partial => "completions_today",
             :locals => {
                          :activities => @activities,
                          :completions => @progress[:complete][Date.today]
                        }
  %></br>

  <%= render :partial => "completions_week",
             :locals => {
                          :activities => @activities,
                          :completions => @progress[:complete]
                        }
  %>
  <div id="comp_form">
  </div>
</div>
