<h1>Users#show</h1>
<div>
  <table>
  <% @user.activity_totals_for_cweek(Date.today).each do |a, total| %>
    <%= render :partial => "activity_icons",
               :locals => { :a => a, :total => total } %>
  <% end %>
  </table>
</div>