// Place all the styles related to the Hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  text-align: left;
}

tr.blue {
  background-color: rgb(193, 236, 250);
}

tr.peach {
  background-color: rgb(253, 228, 200);
}