// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon
{
  width: 45px;
  height: 45px;
  /*border: solid 1px;*/
  text-align: center;
}

img
{
  max-width: 45px;
  max-height: 45px;
}