// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon
{
  width: 50px;
  height: 50px;
  text-align: center;
  border: solid 1px;
}

.icon-big
{
  width: 150px;
  height: 150px;
  text-align: center;
  border: solid 1px;
}

img.icon-big
{
  max-width: 150px;
  max-height: 150px;
}

img.icon
{
  max-width: 50px;
  max-height: 50px;
}

table
{
  margin: 5px;
  border: solid 1px;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
}

body {
  font-family: "Gill Sans MT","Gill Sans",GillSans,Arial,Helvetica,sans-serif;
}